html{
	font-family: 'Hanuman', serif !important;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Hanuman', serif !important;
  line-height: 1.25em;
  font-weight: normal;
  color:#003399;
}
a,p,body,input{
  font-family: 'Hanuman', serif;
}
.text{
  font-family: 'Hanuman', serif !important;
}
.main-menu .navigation > li > a{

	font-size:17px;
}
.main-menu .navigation > li > ul > li > a{
  font-family: 'Hanuman', serif !important;
}
.btn {
	font-family: 'Hanuman', serif !important;
}

tr,td,th{
	font-family: 'Hanuman', serif !important;
}

ul > li > a{
  font-family: 'Hanuman', serif !important;
}
input > placeholder{
  font-family: 'Hanuman', serif !important;
}
button{
  font-family: 'Hanuman', serif !important;
}
.mat-tab-link{
  font-family: 'Hanuman', serif !important;
}
.mat-form-field-infix{
  font-family: 'Hanuman', serif !important;
}
body .cdk-overlay-container{
  font-family: 'Hanuman', serif !important;
}


